.App {

}

.App-logo {
  height: 15vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 17vh;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.options-selector {
  width: auto;
  margin: 5px auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 175px;
}

.character-count {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 175px;
}

.character-count label {
  font-size: 18px;
}

.number-input {
  width: 50px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
}