@import './Fonts.css';

.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-title {
  margin: auto auto auto 50px;
  font-size: 48px;
  color: var(--yellow);
}

.App-logo {
  height: 15vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--gray);
  height: 17vh;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.options-selector {
  width: auto;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  font-weight: 600;
}

.character-count {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 185px;
  align-items: flex-end;
}

.character-count label {
  font-size: 15px;
}

.launch-button {
  margin: 10px 40vw 50px 40vw;
  height: 35px;
  width: 20vw;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  color: var(--yellow);
  background-color: var(--gray);
}

.launch-button:hover {
  width: 21vw;
  height: 37px;
  margin: 10px 39.5vw 50px 39.5vw;
  font-weight: 800;
  font-size: 21px;

}

.number-input {
  width: 50px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
}