@import '../../Fonts.css';

.carte-img {
    height: 200px;
    width: 200px;
}

.carte {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0.8em;
    padding: 0.4em;
    background-color: var(--blue);
}

.player-name {
    text-align: center;
    font-size: 20px;
    background-color: var(--timber);
    height: 25px;
}

.title {
    margin: 0 0 3px 0;
    font-size: 20px;
    height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: var(--yellow);
    background-color: var(--gray);
}

.description {
    font-size: small;
    margin-top: 0;
}