@import "../../Fonts.css";

.header {
    background-color: var(--gray);
    height: 12vh;
    display: flex;
}

.logo {
    height: 12vh;
}

.title {
    margin: auto auto auto 50px;
    font-size: 48px;
    color: var(--yellow);
    font-family: var(--main-font-family);
}

.characters {
    padding: 0 25px;
    height: 12vh;
    font-size: 24px;
    font-family: var(--main-font-family);
    color: var(--gray);
    background-color: var(--yellow);
    cursor: pointer;
    display: flex;
    align-items: center;
}