@import "../../Fonts.css";

.header {
    background-color: var(--gray);
    height: 12vh;
    display: flex;
}

.logo {
    height: 12vh;
}

.title {
    margin: auto auto auto 50px;
    font-size: 48px;
    color: var(--yellow);
    font-family: var(--main-font-family);
}