:root {
    --main-font-family: 'Permanent Marker', cursive;
    --second-font-family: 'Vollkorn', sans-serif;
    --black: #30323d;
    --yellow: #e8c547;
    --gray: #4d5061;
    --blue: #5c80bc;
    --timber: #cdd1c4;
  }
  